<ion-header>
  <ion-toolbar>
    <ion-title>{{viewTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [disabled]="isToday" (click)="today()"
        >Today</ion-button
      >
      <ion-button fill="clear" (click)="changeMode('month')">M</ion-button>
      <ion-button fill="clear" (click)="changeMode('week')">W</ion-button>
      <ion-button fill="clear" (click)="changeMode('day')">D</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button expand="block" (click)="loadEvents()">Load Events</ion-button>
  </div>

  <div>
    <ion-button (click)="slidePrev()" expand="block" fill="clear">
      Prev
    </ion-button>
    <ion-button (click)="slideNext()" expand="block" fill="clear">
      Next
    </ion-button>
  </div>

  <calendar
    formatWeekViewDayHeader="EEEE d"
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    [step]="calendar.step"
    startHour="6"
    endHour="25"
    startingDayMonth="1"
    startingDayWeek="1"
    [lockSwipes]="calendar.lockSwipes"
    [sliderOptions]="calendar.sliderOptions"
    [formatHourColumn]="'H'"
    [weekviewHeaderTemplate]="weekviewHeaderTemplate"
    [weekviewNormalEventTemplate]="weekviewNormalEventTemplate"
    [weekviewNormalEventSectionTemplate]="weekviewNormalEventSectionTemplate"
  >
  </calendar>
</ion-content>

<ng-template #weekviewHeaderTemplate let-viewDate="viewDate">
  <div class="custom-day-header">{{ getNameDate(viewDate.date) }}</div>
</ng-template>

<!-- <ng-template #templateWeekHeader let-viewDate="viewDate">
	<div
		class="custom-day-header"
		[class.selected]="isTodayDate(viewDate.date)"
		[class.hideColumn]="!isVisible(viewDate)"
	>
		<p class="nameDate">
			{{ getNameDate(viewDate.date) | titlecase }}
		</p>
		<p class="numDate" [attr.data-qa-id]="'num-date'">
			{{ getNumberDate(viewDate.date) }}
			<span
				[attr.data-qa-id]="'numEvents-span'"
				class="numEvents"
				*ngIf="getNumEvents(viewDate.date) > 0"
				>{{ getNumEvents(viewDate.date) }}</span
			>
		</p>
	</div>
</ng-template> -->

<ng-template #weekviewNormalEventTemplate let-displayEvent="displayEvent">
  <div class="calendar-event-inner">
    <p class="name">{{ displayEvent.event.title }}</p>
  </div>
</ng-template>

<ng-template
  #weekviewNormalEventSectionTemplate
  let-tm="tm"
  let-hourParts="hourParts"
  let-eventTemplate="eventTemplate"
>
  <div [ngClass]="{'calendar-event-wrap': tm.events}" *ngIf="tm.events">
    <div
      *ngFor="let displayEvent of tm.events"
      class="calendar-event"
      tappable
      (click)="onEventSelected(displayEvent.event)"
      [ngStyle]="getStylesWeekviewEvent(displayEvent, hourParts)"
    >
      <ng-template
        [ngTemplateOutlet]="eventTemplate"
        [ngTemplateOutletContext]="{displayEvent:displayEvent}"
      >
      </ng-template>
    </div>
  </div>
</ng-template>
