<!-- <ion-header myCustomParallaxHeader [parallaxFactor]="0.5">
  <ion-toolbar>
    <ion-title> My Custom Parallax Header </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header
  myCustomParallaxHeader
  imageUrl="https://picsum.photos/350"
  height="350"
  bgPosition="bottom"
>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" style="position: absolute; left: 0; top: 4px">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title
      style="
        left: 0px;
        top: 0px;
        padding-top: var(--padding-top);
        padding-bottom: var(--padding-bottom);
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateZ(0px);

        text-align: center;
        pointer-events: none;
      "
    >
      Parallax Header
    </ion-title>
    <ion-buttons slot="end" style="position: absolute; right: 0; top: 4px">
      <ion-button>
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" class="ion-padding">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, excepturi
    dolorem? Amet non nesciunt assumenda officia totam repellat voluptas animi
    tenetur sit itaque maxime omnis architecto, provident ut sed hic?
  </p>
</ion-content>

<!-- 'https://via.placeholder.com/800x200.png' -->
