<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Storage API</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearData()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
      <ion-button (click)="clearCache()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p><strong>Preference config</strong>: {{ preferenceConfigValue }}</p>
  <ion-button expand="full" (click)="refreshUsers(false)"
    >Load users</ion-button
  >
  <ion-button expand="full" (click)="refreshUsers(true)" color="secondary"
    >Force reload users</ion-button
  >

  <ng-container *ngIf="users?.length > 0">
    <p *ngIf="cacheCreatedAt">
      <strong>Cache date</strong>: {{ cacheCreatedAt | date: 'YYYY-MM-dd
      HH:mm:ss' }}
    </p>

    <ion-list>
      <ion-item *ngFor="let user of users">
        <ion-avatar slot="start">
          <img [src]="user.picture.medium" />
        </ion-avatar>
        <ion-label class="ion-text-capitalize">
          {{ user.name?.first }} {{ user.name?.last }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
