<ion-header>
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/home" expand="block" fill="clear" shape="round">
    Home Page
  </ion-button>

  <ion-button
    (click)="goToFormsPage()"
    expand="block"
    fill="clear"
    shape="round"
  >
    Forms Page
  </ion-button>

  <ion-button routerLink="/calendar" expand="block" fill="clear" shape="round">
    Calendar Demos
  </ion-button>

  <ion-button
    routerLink="/download-files"
    expand="block"
    fill="clear"
    shape="round"
  >
    Download Files
  </ion-button>
</ion-content>
